a{
    text-decoration: none;
    color: #000000;
}
button{
    background: #331B3B;
    color: white;
    width: 100px;
    height: 33px;
    border-radius: 10px;
    border: none;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.links{
    display: flex;
    width: auto;
    gap: 1rem;
}
.home{
    font-weight: bold;
}
.Name{
    display: flex;
    width: auto;
}
.social{
    display: flex;
    gap: 1rem;
}
@media only screen and (max-width: 950px) {
    .header{
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
    }
    .links{
    gap: 0.5rem;
    width: 100%;
    }
    .Name{
        width: 100%;
    }
    .social{
        gap: 1rem;
        width: 100%;
    }
}