*{
    padding: 0rem;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media only screen and (max-width: 950px) {
    .section{
        width: 100%;
    }
}


